CustomPieChart.css
.chart-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.chart {
  text-align: center;
}

.chart p {
  margin-top: 5px;
  text-align: center;
  font-size: 14px;
  /* color: #555; */
}

.chart svg {
  /* display: block; */
  margin: 200px ;
}
